@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>A Good Bar</h1>
    <p class="lead">Click the button to order drinks.</p>
    <p><a class="btn btn-primary btn-lg"@Html.ActionLink("Order a Drink", "Index", "Drinks")</a></p>
</div>
